Repository adh-partnership/frontend, changes with the owners that CODEOWNERS names for each.
All owners: @adh-partnership/maintainers-frontend, @adh-partnership/hcf, @adh-partnership/zan, @adh-partnership/zdv, @adh-partnership/zlc

CODEOWNERS:

*  @adh-partnership/maintainers-frontend

# HCF specific file ownership is the hcf team
src/facilities/hcf/ @adh-partnership/hcf
src/facility-hcf.ts @adh-partnership/hcf

# ZAN specific file ownership is the zan team
src/facilities/zan/ @adh-partnership/zan
src/facility-zan.ts @adh-partnership/zan

# ZDV specific file ownership is the zdv team
src/facilities/zdv/ @adh-partnership/zdv
src/facility-zdv.ts @adh-partnership/zdv

# ZLC specific file ownership is the zdv team
src/facilities/zlc/ @adh-partnership/zlc
src/facility-zlc.ts @adh-partnership/zlc

Should actually be -1 (#305)
  src/views/partials/roster/ControllerProfile.vue
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Force event start date to be before end date
  src/views/partials/events/CreateEventModal.vue
Owners: @adh-partnership/maintainers-frontend

Force event start date to be before end date
  src/views/pages/EventInfo.vue
Owners: @adh-partnership/maintainers-frontend

WIP
  src/facilities/zlc/views/pages/Equipment.vue
  src/facility-zlc.ts
Owners: @adh-partnership/zlc

WIP
  src/facilities/zlc/views/pages/Equipment.vue
Owners: @adh-partnership/zlc

Finish initial implementation
  src/facilities/zlc/views/pages/Equipment.vue
Owners: @adh-partnership/zlc

Remove use of `v-html`
  src/facilities/zlc/views/pages/Equipment.vue
Owners: @adh-partnership/zlc

Force event start date to be before end date (#308)
  src/views/pages/EventInfo.vue
  src/views/partials/events/CreateEventModal.vue
Owners: @adh-partnership/maintainers-frontend

WIP
  src/facilities/zdv/views/pages/TrainingScheduler.vue
Owners: @adh-partnership/zdv

WIP
  src/facilities/zdv/views/pages/TrainingScheduler.vue
Owners: @adh-partnership/zdv

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

refactor authlink component, add controller only training link for zan
  src/components/AuthLink.vue
  src/components/header/HeaderNavItem.vue
  src/components/header/OffcanvasMenuItem.vue
  src/facility-zan.ts
  src/facility.ts
  src/types/index.d.ts
Owners: @adh-partnership/maintainers-frontend, @adh-partnership/zan

refactor authlink component, add controller only training link for zan (#312)
  src/components/AuthLink.vue
  src/components/header/HeaderNavItem.vue
  src/components/header/OffcanvasMenuItem.vue
  src/facility-zan.ts
  src/facility.ts
  src/types/index.d.ts
Owners: @adh-partnership/maintainers-frontend, @adh-partnership/zan

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Staffing req: updated form fields & layout
  src/facilities/zdv/views/pages/StaffingRequest.vue
Owners: @adh-partnership/zdv

Update fields
  src/facilities/zdv/views/pages/StaffingRequest.vue
Owners: @adh-partnership/zdv

Fix network call
  src/facilities/zdv/views/pages/StaffingRequest.vue
Owners: @adh-partnership/zdv

Rearrange fields
  src/facilities/zdv/views/pages/StaffingRequest.vue
Owners: @adh-partnership/zdv

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

WIP
  package.json
  src/facilities/zdv/views/pages/TrainingScheduler.vue
  src/facility.ts
  yarn.lock
Owners: @adh-partnership/maintainers-frontend, @adh-partnership/zdv

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Weather badges on homepage show METAR on hover
  src/components/weather/WeatherBadge.vue
  src/components/weather/WeatherRow.vue
  src/components/weather/WeatherTable.vue
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Make the event pos. creation modal less stateful
  src/views/partials/events/CreatePositionModal.vue
Owners: @adh-partnership/maintainers-frontend

Prevent vertical overlapping of event pos assign.
  src/views/partials/events/Positions.vue
Owners: @adh-partnership/maintainers-frontend

Make the event pos. creation modal less stateful (#325)
  src/views/partials/events/CreatePositionModal.vue
Owners: @adh-partnership/maintainers-frontend

Fix missed lints
  src/views/partials/events/Positions.vue
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Prevent vertical overlapping of event pos assign. (#326)
  src/views/partials/events/Positions.vue
Owners: @adh-partnership/maintainers-frontend

Fix training notes comp. not loading in new tab
  src/views/pages/RosterControllerPage.vue
Owners: @adh-partnership/maintainers-frontend

Fix lint
  src/views/pages/RosterControllerPage.vue
Owners: @adh-partnership/maintainers-frontend

Fix training notes comp. not loading in new tab (#330)
  src/views/pages/RosterControllerPage.vue
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Change the ZDV training link to internal site
  src/facility-zdv.ts
Owners: @adh-partnership/zdv

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Update facility-zan.ts
  src/facility-zan.ts
Owners: @adh-partnership/zan

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend
