Repository adh-partnership/frontend, changes with the owners that CODEOWNERS names for each.
All owners: @adh-partnership/maintainers-frontend, @adh-partnership/hcf, @adh-partnership/zan, @adh-partnership/zdv, @adh-partnership/zlc

Moved staffing req. feature to ZDV subdir
  src/facilities/zdv/views/pages/StaffingRequest.vue
  src/facility-zdv.ts
  src/links.ts
  src/router/index.ts
Owners: @adh-partnership/zdv, @adh-partnership/maintainers-frontend

Staffing request feature (#275)
  src/facilities/zdv/views/pages/StaffingRequest.vue
  src/facility-zdv.ts
Owners: @adh-partnership/zdv

Add quick link to controller page on VATUSA
  src/views/pages/VisitingApplication.vue
Owners: @adh-partnership/maintainers-frontend

Add quick link to controller page on VATUSA (#293)
  src/views/pages/VisitingApplication.vue
Owners: @adh-partnership/maintainers-frontend

wip
  package.json
  src/facilities/zdv/views/pages/TrainingScheduler.vue
  src/facility.ts
  yarn.lock
Owners: @adh-partnership/maintainers-frontend, @adh-partnership/zdv

Fix staffing requets feature
  src/facilities/zdv/views/pages/StaffingRequest.vue
Owners: @adh-partnership/zdv

Fix staffing requets feature (#294)
  src/facilities/zdv/views/pages/StaffingRequest.vue
Owners: @adh-partnership/zdv

Pull roles from api if not default to staff/department heads
  src/types/index.d.ts
  src/views/pages/Resources.vue
Owners: @adh-partnership/maintainers-frontend

Fix import order
  src/views/pages/Resources.vue
Owners: @adh-partnership/maintainers-frontend

WIP
  package.json
  src/facilities/zdv/views/pages/TrainingScheduler.vue
  yarn.lock
Owners: @adh-partnership/maintainers-frontend, @adh-partnership/zdv

Increment dev version to v1.9
  .version
Owners: @adh-partnership/maintainers-frontend

add team check to release workflow
  .github/workflows/run-release.yaml
Owners: @adh-partnership/maintainers-frontend

WIP
  src/facilities/zdv/views/pages/TrainingScheduler.vue
Owners: @adh-partnership/zdv

WIP
  src/facilities/zdv/views/pages/TrainingScheduler.vue
Owners: @adh-partnership/zdv

WIP
  src/facilities/zdv/views/pages/TrainingScheduler.vue
Owners: @adh-partnership/zdv

WIP
  src/facility-zdv.ts
  src/facility.ts
Owners: @adh-partnership/zdv, @adh-partnership/maintainers-frontend

Fix for discord delete button
  src/views/partials/roster/ControllerProfile.vue
Owners: @adh-partnership/maintainers-frontend

bump deps
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Fix for discord delete button (#297)
  src/views/partials/roster/ControllerProfile.vue
Owners: @adh-partnership/maintainers-frontend

turn on import sorting
  .eslintrc.json
Owners: @adh-partnership/maintainers-frontend

bump deps (#298)
  .eslintrc.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

WIP
  package.json
  src/facilities/zdv/views/pages/TrainingScheduler.vue
  src/facility.ts
  yarn.lock
Owners: @adh-partnership/maintainers-frontend, @adh-partnership/zdv

WIP
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

WIP
  package.json
  src/facilities/zdv/views/pages/TrainingScheduler.vue
  yarn.lock
Owners: @adh-partnership/maintainers-frontend, @adh-partnership/zdv

Refactor all auth into auth groups over API
  src/facility.ts
  src/stores/users.ts
  src/views/pages/EventInfo.vue
  src/views/pages/EventsPage.vue
  src/views/pages/Feedback.vue
  src/views/pages/FeedbackView.vue
  src/views/pages/Resources.vue
  src/views/pages/RosterControllerPage.vue
  src/views/pages/VisitingApplication.vue
  src/views/partials/events/CreateEventModal.vue
  src/views/partials/events/CreatePositionModal.vue
  src/views/partials/events/DeleteEventModal.vue
  src/views/partials/events/Positions.vue
  src/views/partials/roster/ControllerActions.vue
  src/views/partials/roster/ControllerProfile.vue
Owners: @adh-partnership/maintainers-frontend

Revert facilities change
  src/facility.ts
Owners: @adh-partnership/maintainers-frontend

Move wt and ft into team card
  src/views/pages/StaffPage.vue
Owners: @adh-partnership/maintainers-frontend

Move groups fetch to App.vue
  src/App.vue
  src/stores/users.ts
  src/utils/auth.ts
  src/views/pages/EventInfo.vue
  src/views/pages/EventsPage.vue
  src/views/pages/Feedback.vue
  src/views/pages/FeedbackView.vue
  src/views/pages/Resources.vue
  src/views/pages/RosterControllerPage.vue
  src/views/pages/VisitingApplication.vue
  src/views/partials/events/CreateEventModal.vue
  src/views/partials/events/CreatePositionModal.vue
  src/views/partials/events/DeleteEventModal.vue
  src/views/partials/events/Positions.vue
  src/views/partials/roster/ControllerActions.vue
  src/views/partials/roster/ControllerProfile.vue
Owners: @adh-partnership/maintainers-frontend

Add staffing req
  src/facility-zlc.ts
Owners: @adh-partnership/zlc

Move wt and ft into team card (#302)
  src/views/pages/StaffPage.vue
Owners: @adh-partnership/maintainers-frontend

Add staffing req (#303)
  src/facility-zlc.ts
Owners: @adh-partnership/zlc

fetch groups
  src/App.vue
Owners: @adh-partnership/maintainers-frontend

remove unused func
  src/stores/users.ts
Owners: @adh-partnership/maintainers-frontend

Allow FE Team to edit files (#289)
  src/App.vue
  src/stores/users.ts
  src/types/index.d.ts
  src/utils/auth.ts
  src/views/pages/EventInfo.vue
  src/views/pages/EventsPage.vue
  src/views/pages/Feedback.vue
  src/views/pages/FeedbackView.vue
  src/views/pages/Resources.vue
  src/views/pages/RosterControllerPage.vue
  src/views/pages/VisitingApplication.vue
  src/views/partials/events/CreateEventModal.vue
  src/views/partials/events/CreatePositionModal.vue
  src/views/partials/events/DeleteEventModal.vue
  src/views/partials/events/Positions.vue
  src/views/partials/roster/ControllerActions.vue
  src/views/partials/roster/ControllerProfile.vue
Owners: @adh-partnership/maintainers-frontend

rework events team into teamcard
  src/views/pages/StaffPage.vue
Owners: @adh-partnership/maintainers-frontend

Update StaffPage.vue
  src/views/pages/StaffPage.vue
Owners: @adh-partnership/maintainers-frontend

Feat/refactor teams into teamcard (#304)
  src/views/pages/StaffPage.vue
Owners: @adh-partnership/maintainers-frontend

Update StaffPage.vue
  src/views/pages/StaffPage.vue
Owners: @adh-partnership/maintainers-frontend

Should actually be -1
  src/views/partials/roster/ControllerProfile.vue
Owners: @adh-partnership/maintainers-frontend

CODEOWNERS:

*  @adh-partnership/maintainers-frontend

# HCF specific file ownership is the hcf team
src/facilities/hcf/ @adh-partnership/hcf
src/facility-hcf.ts @adh-partnership/hcf

# ZAN specific file ownership is the zan team
src/facilities/zan/ @adh-partnership/zan
src/facility-zan.ts @adh-partnership/zan

# ZDV specific file ownership is the zdv team
src/facilities/zdv/ @adh-partnership/zdv
src/facility-zdv.ts @adh-partnership/zdv

# ZLC specific file ownership is the zdv team
src/facilities/zlc/ @adh-partnership/zlc
src/facility-zlc.ts @adh-partnership/zlc
