Repository adh-partnership/frontend, changes with the owners that CODEOWNERS names for each.
All owners: @adh-partnership/maintainers-frontend, @adh-partnership/hcf, @adh-partnership/zan, @adh-partnership/zdv, @adh-partnership/zlc

CODEOWNERS:

*  @adh-partnership/maintainers-frontend

# HCF specific file ownership is the hcf team
src/facilities/hcf/ @adh-partnership/hcf
src/facility-hcf.ts @adh-partnership/hcf

# ZAN specific file ownership is the zan team
src/facilities/zan/ @adh-partnership/zan
src/facility-zan.ts @adh-partnership/zan

# ZDV specific file ownership is the zdv team
src/facilities/zdv/ @adh-partnership/zdv
src/facility-zdv.ts @adh-partnership/zdv

# ZLC specific file ownership is the zdv team
src/facilities/zlc/ @adh-partnership/zlc
src/facility-zlc.ts @adh-partnership/zlc

bump lint to node 20.x, add ZFW to policy
  .github/workflows/lint.yaml
  .policy.yml
Owners: @adh-partnership/maintainers-frontend

disable legacy resources for ZAN, ZFW and HCF (#360)
  src/facility-hcf.ts
  src/facility-zan.ts
  src/facility-zfw.ts
Owners: @adh-partnership/hcf, @adh-partnership/zan, @adh-partnership/maintainers-frontend

bump deps and fix lints (#359)
  package.json
  src/stores/event.ts
  src/stores/roster.ts
  src/stores/training.ts
  src/stores/users.ts
  src/views/pages/AirportInfo.vue
  src/views/pages/Certifications.vue
  src/views/pages/FacilityMap.vue
  src/views/pages/FacilityWeather.vue
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

add IDS for ZAN
  src/facility-zan.ts
Owners: @adh-partnership/zan

fix for ZAN and logout
  src/components/AuthLink.vue
  src/components/header/HeaderNavItem.vue
  src/components/header/OffcanvasMenuItem.vue
  src/facility-zan.ts
Owners: @adh-partnership/maintainers-frontend, @adh-partnership/zan

fix rating check
  src/facility-zan.ts
  src/utils/helpers.ts
Owners: @adh-partnership/zan, @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Added Loa Duration
  src/views/partials/roster/ControllerActions.vue
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Fixed time format
  src/utils/helpers.ts
Owners: @adh-partnership/maintainers-frontend

Added Routes Page to HCF
  src/facilities/hcf/views/pages/Prefroutes.vue
  src/facilities/hcf/views/pages/components/routedata.ts
  src/facility-hcf.ts
Owners: @adh-partnership/hcf

Added Routes Page to HCF
  src/facilities/hcf/views/pages/Prefroutes.vue
Owners: @adh-partnership/hcf

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Update ZDV resources categories
  src/facility-zdv.ts
Owners: @adh-partnership/zdv

Update ZDV resources categories (#374)
  src/facility-zdv.ts
Owners: @adh-partnership/zdv

Update ZLC resources categories
  src/facility-zlc.ts
Owners: @adh-partnership/zlc

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Update ZLC resources categories (#375)
  src/facility-zlc.ts
Owners: @adh-partnership/zlc

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Update minimum controller rating to S3 for ZDV/ZLC
  src/facility-zdv.ts
  src/facility-zlc.ts
Owners: @adh-partnership/zdv, @adh-partnership/zlc

Update minimum controller rating to S3 for ZDV/ZLC (#379)
  src/facility-zdv.ts
  src/facility-zlc.ts
Owners: @adh-partnership/zdv, @adh-partnership/zlc

change up visiting application
  src/components/Spinner.vue
  src/facility-hcf.ts
  src/facility-zan.ts
  src/facility-zdv.ts
  src/facility-zfw.ts
  src/facility-zlc.ts
  src/facility.ts
  src/types/index.d.ts
  src/views/pages/FacilityMap.vue
  src/views/pages/VisitingApplication.vue
  yarn.lock
Owners: @adh-partnership/maintainers-frontend, @adh-partnership/hcf, @adh-partnership/zan, @adh-partnership/zdv, @adh-partnership/zlc

Increment dev version to v1.10
  .version
Owners: @adh-partnership/maintainers-frontend

Bump version to v1.10 (#380)
  .version
Owners: @adh-partnership/maintainers-frontend

Fix year
  src/views/partials/Footer.vue
Owners: @adh-partnership/maintainers-frontend

Fix year (#381)
  src/views/partials/Footer.vue
Owners: @adh-partnership/maintainers-frontend

fix for event banners being tiny
  src/views/pages/EventInfo.vue
  src/views/partials/events/EventCard.vue
Owners: @adh-partnership/maintainers-frontend

whitespace for event info and training notes
  src/views/pages/EventInfo.vue
  src/views/pages/training/TrainingNote.vue
Owners: @adh-partnership/maintainers-frontend

whitespace for event info and training notes (#382)
  src/views/pages/EventInfo.vue
  src/views/pages/training/TrainingNote.vue
Owners: @adh-partnership/maintainers-frontend

Revert "whitespace for event info and training notes (#382)"
  src/views/pages/EventInfo.vue
  src/views/pages/training/TrainingNote.vue
Owners: @adh-partnership/maintainers-frontend

Revert "whitespace for event info and training notes (#382)" (#383)
  src/views/pages/EventInfo.vue
  src/views/pages/training/TrainingNote.vue
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Chore: Upgrade Dependencies (#385)
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Add another static resource per AFE
  src/facility-zdv.ts
Owners: @adh-partnership/zdv
