Repository adh-partnership/frontend, changes with the owners that CODEOWNERS names for each.
All owners: @adh-partnership/maintainers-frontend, @adh-partnership/hcf, @adh-partnership/zan, @adh-partnership/zdv, @adh-partnership/zlc

Add another static resource per AFE (#386)
  src/facility-zdv.ts
Owners: @adh-partnership/zdv

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

switch up intro and add volunteer notice on staff page
  src/facilities/zfw/views/pages/Homepage.vue
  src/facility.ts
  src/views/pages/StaffPage.vue
Owners: @adh-partnership/maintainers-frontend

switch up intro and add volunteer notice on staff page (#390)
  src/facilities/zfw/views/pages/Homepage.vue
  src/facility.ts
  src/views/pages/StaffPage.vue
Owners: @adh-partnership/maintainers-frontend

Added HCF Training Link
  src/facility-hcf.ts
Owners: @adh-partnership/hcf

Added HCF Training Link (#391)
  src/facility-hcf.ts
Owners: @adh-partnership/hcf

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Chore: Upgrade Dependencies (#393)
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

timeformatupdated
  src/facilities/hcf/views/pages/Homepage.vue
  src/facilities/hcf/views/pages/onlinecontrollerhcf.vue
Owners: @adh-partnership/hcf

fixed issues
  src/facilities/hcf/views/pages/onlinecontrollerhcf.vue
Owners: @adh-partnership/hcf

Fixed more issues
  src/facilities/hcf/views/pages/onlinecontrollerhcf.vue
Owners: @adh-partnership/hcf

temp fix
  src/facilities/hcf/views/pages/onlinecontrollerhcf.vue
Owners: @adh-partnership/hcf

another temp fix
  src/facilities/hcf/views/pages/onlinecontrollerhcf.vue
Owners: @adh-partnership/hcf

hopefully last fix
  src/facilities/hcf/views/pages/onlinecontrollerhcf.vue
Owners: @adh-partnership/hcf

Should Be fixed
  src/facilities/hcf/views/pages/onlinecontrollerhcf.vue
Owners: @adh-partnership/hcf

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Online Controller Format Changed (HCF Specific) (#394)
  src/facilities/hcf/views/pages/Homepage.vue
  src/facilities/hcf/views/pages/onlinecontrollerhcf.vue
Owners: @adh-partnership/hcf

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

add zkc build
  .github/workflows/build.yaml
Owners: @adh-partnership/maintainers-frontend

typo
  .github/workflows/build.yaml
Owners: @adh-partnership/maintainers-frontend

add zkc homepage
  src/facilities/zkc/views/pages/Homepage.vue
  src/facility-zkc.ts
Owners: @adh-partnership/maintainers-frontend

update coordinates
  src/facility-zkc.ts
Owners: @adh-partnership/maintainers-frontend

Add ZKC to ADHP (#399)
  .github/workflows/build.yaml
  src/facilities/zkc/views/pages/Homepage.vue
  src/facility-zkc.ts
Owners: @adh-partnership/maintainers-frontend

Increment dev version to v1.9
  .version
Owners: @adh-partnership/maintainers-frontend

Bump version to v1.9 (#400)
  .version
Owners: @adh-partnership/maintainers-frontend

Increment dev version to v1.10
  .version
Owners: @adh-partnership/maintainers-frontend

Bump version to v1.10 (#401)
  .version
Owners: @adh-partnership/maintainers-frontend

update zkc colors
  src/facility-zkc.ts
  tailwind.config.cjs
Owners: @adh-partnership/maintainers-frontend

Update tailwind.config.cjs
  tailwind.config.cjs
Owners: @adh-partnership/maintainers-frontend

Zkc (#402)
  src/facility-zkc.ts
  tailwind.config.cjs
Owners: @adh-partnership/maintainers-frontend

Update facility-zlc.ts
  src/facility-zlc.ts
Owners: @adh-partnership/zlc

Replace KHUT with KTUL
  src/facility-zkc.ts
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Replace KHUT with KTUL (#405)
  src/facility-zkc.ts
Owners: @adh-partnership/maintainers-frontend

dep bump
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

update colors
  src/facility-zkc.ts
  tailwind.config.cjs
Owners: @adh-partnership/maintainers-frontend

CODEOWNERS:

*  @adh-partnership/maintainers-frontend

# HCF specific file ownership is the hcf team
src/facilities/hcf/ @adh-partnership/hcf
src/facility-hcf.ts @adh-partnership/hcf

# ZAN specific file ownership is the zan team
src/facilities/zan/ @adh-partnership/zan
src/facility-zan.ts @adh-partnership/zan

# ZDV specific file ownership is the zdv team
src/facilities/zdv/ @adh-partnership/zdv
src/facility-zdv.ts @adh-partnership/zdv

# ZLC specific file ownership is the zdv team
src/facilities/zlc/ @adh-partnership/zlc
src/facility-zlc.ts @adh-partnership/zlc
