Repository adh-partnership/frontend, changes with the owners that CODEOWNERS names for each.
All owners: @adh-partnership/maintainers-frontend, @adh-partnership/hcf, @adh-partnership/zan, @adh-partnership/zdv, @adh-partnership/zlc

GCAP Phase 1
  package.json
  src/App.vue
  src/components/AuthLink.vue
  src/components/Badge.vue
  src/components/ControllerCertificationBadges.vue
  src/components/ControllerHeader.vue
  src/components/header/HeaderNavItem.vue
  src/components/header/OffcanvasMenuItem.vue
  src/links.ts
  src/router/index.ts
  src/stores/roster.ts
  src/stores/users.ts
  src/types/index.d.ts
  src/utils/auth.ts
  src/views/pages/ActivityPage.vue
  src/views/pages/Certifications.vue
  src/views/pages/RosterControllerPage.vue
  src/views/partials/certifications/DeleteEndorsementModal.vue
  src/views/partials/roster/ControllerProfile.vue
  src/views/partials/roster/RosterTable.vue
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

yarn.lock fix
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

bug fixes and cleanup
  .github/workflows/build.yaml
  src/components/ControllerCertificationBadges.vue
  src/facility-hcf.ts
  src/facility-zan.ts
  src/facility-zdv.ts
  src/facility-zlc.ts
  src/types/index.d.ts
  src/views/pages/Certifications.vue
  src/views/pages/RosterControllerPage.vue
  src/views/partials/roster/ControllerProfile.vue
  src/views/partials/roster/RosterTable.vue
  tailwind.config.cjs
Owners: @adh-partnership/maintainers-frontend, @adh-partnership/hcf, @adh-partnership/zan, @adh-partnership/zdv, @adh-partnership/zlc

Enable certificationsHideNone for ZDV
  src/facility-zdv.ts
Owners: @adh-partnership/zdv

Enable certificationsHideNone for ZDV (#341)
  src/facility-zdv.ts
Owners: @adh-partnership/zdv

Increment dev version to v1.9
  .version
Owners: @adh-partnership/maintainers-frontend

Bump version to v1.9 (#342)
  .version
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Enable certificationsHideNone for ZLC
  src/facility-zlc.ts
Owners: @adh-partnership/zlc

Enable certificationsHideNone for ZLC (#344)
  src/facility-zlc.ts
Owners: @adh-partnership/zlc

use UTC date
  src/utils/helpers.ts
  src/views/partials/training/TrainingNotes.vue
Owners: @adh-partnership/maintainers-frontend

initial ZFW work
  .github/workflows/build.yaml
  src/facilities/zfw/views/pages/Homepage.vue
  src/facility-zfw.ts
  tailwind.config.cjs
Owners: @adh-partnership/maintainers-frontend

use UTC date
  src/utils/helpers.ts
  src/views/partials/training/TrainingNotes.vue
Owners: @adh-partnership/maintainers-frontend

rework github action
  .github/workflows/build.yaml
Owners: @adh-partnership/maintainers-frontend

ZFW Initial (#345)
  .github/workflows/build.yaml
  src/facilities/zfw/views/pages/Homepage.vue
  src/facility-zfw.ts
  tailwind.config.cjs
Owners: @adh-partnership/maintainers-frontend

lint
  src/facilities/zfw/views/pages/Homepage.vue
  src/facility-zfw.ts
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

populate zfw airports
  src/facility-zfw.ts
Owners: @adh-partnership/maintainers-frontend

change ZFW homepage weather sites
  src/facilities/zfw/views/pages/Homepage.vue
Owners: @adh-partnership/maintainers-frontend

Add text to the staffing req. form to use Zulu TZs
  src/facilities/zdv/views/pages/StaffingRequest.vue
Owners: @adh-partnership/zdv

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

Update facility-zfw.ts
  src/facility-zfw.ts
Owners: @adh-partnership/maintainers-frontend

Update facility-zfw.ts (#349)
  src/facility-zfw.ts
Owners: @adh-partnership/maintainers-frontend

Add text to the staffing req. form to use Zulu TZs (#347)
  src/facilities/zdv/views/pages/StaffingRequest.vue
Owners: @adh-partnership/zdv

ZFW prod goes live
  src/facility-zfw.ts
Owners: @adh-partnership/maintainers-frontend

ZFW prod goes live (#352)
  src/facility-zfw.ts
Owners: @adh-partnership/maintainers-frontend

add ZFW academy link
  src/App.vue
  src/facility-zfw.ts
Owners: @adh-partnership/maintainers-frontend

Add ZFW Web Team role
  src/facility-zfw.ts
Owners: @adh-partnership/maintainers-frontend

ZFW Academy to logged in only
  src/facility-zfw.ts
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

dep bumps
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

fix filter to not be case sensitive
  src/views/pages/Airports.vue
Owners: @adh-partnership/maintainers-frontend

Fixes and extensions
  src/utils/helpers.ts
  src/views/pages/ActivityPage.vue
  src/views/pages/VisitingApplication.vue
  src/views/partials/events/Positions.vue
  src/views/partials/roster/ControllerActions.vue
Owners: @adh-partnership/maintainers-frontend

lint
  src/views/pages/ActivityPage.vue
  src/views/partials/roster/ControllerActions.vue
Owners: @adh-partnership/maintainers-frontend

Create release with release notes on release
  .github/workflows/run-release.yaml
Owners: @adh-partnership/maintainers-frontend

fix airport filter to not be case sensitive (#356)
  src/views/pages/Airports.vue
Owners: @adh-partnership/maintainers-frontend

Fixes and extensions (#357)
  src/utils/helpers.ts
  src/views/pages/ActivityPage.vue
  src/views/pages/VisitingApplication.vue
  src/views/partials/events/Positions.vue
  src/views/partials/roster/ControllerActions.vue
Owners: @adh-partnership/maintainers-frontend

chore: upgrade dependencies
  package.json
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

bump deps and fix lints
  package.json
  src/stores/event.ts
  src/stores/roster.ts
  src/stores/training.ts
  src/stores/users.ts
  src/views/pages/AirportInfo.vue
  src/views/pages/Certifications.vue
  src/views/pages/FacilityMap.vue
  src/views/pages/FacilityWeather.vue
  yarn.lock
Owners: @adh-partnership/maintainers-frontend

disable legacy resources for ZAN, ZFW and HCF
  src/facility-hcf.ts
  src/facility-zan.ts
  src/facility-zfw.ts
Owners: @adh-partnership/hcf, @adh-partnership/zan, @adh-partnership/maintainers-frontend

CODEOWNERS:

*  @adh-partnership/maintainers-frontend

# HCF specific file ownership is the hcf team
src/facilities/hcf/ @adh-partnership/hcf
src/facility-hcf.ts @adh-partnership/hcf

# ZAN specific file ownership is the zan team
src/facilities/zan/ @adh-partnership/zan
src/facility-zan.ts @adh-partnership/zan

# ZDV specific file ownership is the zdv team
src/facilities/zdv/ @adh-partnership/zdv
src/facility-zdv.ts @adh-partnership/zdv

# ZLC specific file ownership is the zdv team
src/facilities/zlc/ @adh-partnership/zlc
src/facility-zlc.ts @adh-partnership/zlc
